body {
    font-family: Gill Sans;
    background:url("https://i.pinimg.com/736x/86/1c/8f/861c8f52b2a08454959246c9fc006c0b.jpg");
    background-size:100%;
}

header img {
    margin-top: 7px;
}

main img {
    margin-top: 25px;
    width: 300px;
}

.glob {
    font-size: 23px;
    color: rgba(193, 233, 242, 0.531);
    background-color: rgba(6, 5, 5, 0.517);
    width: 300px;
    height: 180px;
    position: fixed;
}

h1 {
    text-align: center;
    color: rgb(251, 238, 220);
    font-size: 40px;
}

.p {
    font-size: 23px;
    color: rgb(186, 222, 186);
    text-align: center;
}
