body {
    font-family: Gill Sans;
    background:url("https://files.oaiusercontent.com/file-MWjYbfDYDY6zfsg1s6uep9?se=2024-12-16T17%3A36%3A15Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D86a583ad-8d96-44b3-b7d6-30419500078c.webp&sig=fX919kLIHiUNjKYzWhOSyxJhN4AZkRZrdb8/wmdCXN8%3D");
    background-size:100%;
}

main p {
    font-size: 21px;  
    color: rgb(134, 240, 210);
    text-align: center;
}

header p {
    font-size: 17px;
    margin-bottom: 25px;
}

header a {
    border: 4px solid black;
    border-radius: 15px;
    border-bottom-left-radius: 4px;
    background-color: rgb(168, 174, 176);
    padding: 5px;
    margin: 7px;
    margin-bottom: 60px;
    text-decoration: none;
}

main a {
    text-decoration: none;
    color: rgb(4, 4, 145);
}

h1 {
    font-size: 30px;
    color: rgb(146, 0, 0);
    text-align: center;
}

h2 {
    font-size: 27px;
    text-align: center;
    color: rgb(31, 131, 197);
}

.rip {
    margin-bottom: 5px;
    color: rosybrown;
}

.filip {
    color: rgb(31, 131, 197);
}


